<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzd.drugstore.mapper.generator.StoremessageMapper">
  <resultMap id="BaseResultMap" type="com.mzd.drugstore.bean.generator.Storemessage">
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_location" jdbcType="VARCHAR" property="storeLocation" />
    <result column="store_img" jdbcType="VARCHAR" property="storeImg" />
    <result column="store_tel" jdbcType="VARCHAR" property="storeTel" />
    <result column="boss_name" jdbcType="VARCHAR" property="bossName" />
    <result column="boss_tel" jdbcType="VARCHAR" property="bossTel" />
    <result column="boss_idcard" jdbcType="VARCHAR" property="bossIdcard" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    store_name, store_location, store_img, store_tel, boss_name, boss_tel, boss_idcard
  </sql>
  <select id="selectByExample" parameterType="com.mzd.drugstore.bean.generator.StoremessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from storemessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.mzd.drugstore.bean.generator.StoremessageExample">
    delete from storemessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mzd.drugstore.bean.generator.Storemessage">
    insert into storemessage (store_name, store_location, store_img, 
      store_tel, boss_name, boss_tel, 
      boss_idcard)
    values (#{storeName,jdbcType=VARCHAR}, #{storeLocation,jdbcType=VARCHAR}, #{storeImg,jdbcType=VARCHAR}, 
      #{storeTel,jdbcType=VARCHAR}, #{bossName,jdbcType=VARCHAR}, #{bossTel,jdbcType=VARCHAR}, 
      #{bossIdcard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mzd.drugstore.bean.generator.Storemessage">
    insert into storemessage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="storeName != null">
        store_name,
      </if>
      <if test="storeLocation != null">
        store_location,
      </if>
      <if test="storeImg != null">
        store_img,
      </if>
      <if test="storeTel != null">
        store_tel,
      </if>
      <if test="bossName != null">
        boss_name,
      </if>
      <if test="bossTel != null">
        boss_tel,
      </if>
      <if test="bossIdcard != null">
        boss_idcard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeLocation != null">
        #{storeLocation,jdbcType=VARCHAR},
      </if>
      <if test="storeImg != null">
        #{storeImg,jdbcType=VARCHAR},
      </if>
      <if test="storeTel != null">
        #{storeTel,jdbcType=VARCHAR},
      </if>
      <if test="bossName != null">
        #{bossName,jdbcType=VARCHAR},
      </if>
      <if test="bossTel != null">
        #{bossTel,jdbcType=VARCHAR},
      </if>
      <if test="bossIdcard != null">
        #{bossIdcard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mzd.drugstore.bean.generator.StoremessageExample" resultType="java.lang.Long">
    select count(*) from storemessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update storemessage
    <set>
      <if test="record.storeName != null">
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeLocation != null">
        store_location = #{record.storeLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.storeImg != null">
        store_img = #{record.storeImg,jdbcType=VARCHAR},
      </if>
      <if test="record.storeTel != null">
        store_tel = #{record.storeTel,jdbcType=VARCHAR},
      </if>
      <if test="record.bossName != null">
        boss_name = #{record.bossName,jdbcType=VARCHAR},
      </if>
      <if test="record.bossTel != null">
        boss_tel = #{record.bossTel,jdbcType=VARCHAR},
      </if>
      <if test="record.bossIdcard != null">
        boss_idcard = #{record.bossIdcard,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update storemessage
    set store_name = #{record.storeName,jdbcType=VARCHAR},
      store_location = #{record.storeLocation,jdbcType=VARCHAR},
      store_img = #{record.storeImg,jdbcType=VARCHAR},
      store_tel = #{record.storeTel,jdbcType=VARCHAR},
      boss_name = #{record.bossName,jdbcType=VARCHAR},
      boss_tel = #{record.bossTel,jdbcType=VARCHAR},
      boss_idcard = #{record.bossIdcard,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>